<html>
	<head>
		<title>
			Departmental Login
		</title>
		<style>

		@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
		*{
			box-sizing: border-box;
			margin: 0;
			padding: 0;	
			font-weight: 300;
		}
		body{
			font-family: 'Source Sans Pro', sans-serif;
			color: white;
			font-weight: 300;
			
		}
		.wrapper{
			box-shadow: 0 0 4rem rgba(0,0,0,.3);
			background: #e85c41;	
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 400px;
			margin-top: -200px;
			overflow: hidden;
			
			&.form-success{
				.container{
					h1{
						transform: translateY(85px);
					}
				}
			}
		}
		.container{
			max-width: 600px;
			margin: 0 auto;
			padding: 80px 0;
			height: 400px;
			text-align: center;
			
			h1{
				font-size: 40px;
				transition-duration: 1s;
				font-weight: 200;
			}
		}
		form{
			padding: 20px 0;
			position: relative;
			z-index: 2;
		}
		input{
			display: block;
			appearance: none;
			outline: 0;
			border: 1px solid fade(white, 40%);
			background-color: fade(white, 20%);
			width: 250px;			
			height: 40px;
			margin: 3px;
			padding: 10px 15px;
			margin: 0 auto 10px auto;
			display: block;
			text-align: center;
			font-size: 18px;
			color:black;			
			font-weight: 400;
			
			&:hover{
				background-color: fade(white, 40%);
			}
			&:focus{
				background-color: white;
				width: 300px;
				color:#53e3a6;
			}
		}

		button{
			appearance: none;
			outline: 0;
			background-color: white;
			border: 0;
			padding: 10px 15px;
			width: 250px;
			cursor: pointer;
			font-size: 18px;
			transition-duration: 0.25s;
			
			&:hover{
				background-color: rgb(245, 247, 249);
			}
		}

		</style>
	</head>
	<body>
		
		<div class="wrapper">
			<div class="container">
				<h1>Departmental Login</h1>
				<h4>Enter the governmental departmental credentials</h4>
				<form method="POST" action="department" class="form">
				   <input type="text" name="department" placeholder="department" height=300px>
				   <input type="password" name="password" placeholder="password">
				    <input type="submit" value="submit" id="login-button">
				    <!-- <button>Go to complaint Portal</button> -->
				</form>
				<a href="/"><button>Go to complaint Portal</button></a>
			</div>
		</div>
		<script>
		</script>
	</body>
</html>

